<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Megrum</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(MEGRUM_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>MegrumAuthEmailRedirectURL</key>
	<string>$(MEGRUM_AUTH_EMAIL_REDIRECT_URL)</string>
	<key>MegrumAdMobAppID</key>
	<string>$(MEGRUM_ADMOB_APP_ID)</string>
	<key>MegrumAdMobHomeBannerUnitID</key>
	<string>$(MEGRUM_ADMOB_HOME_BANNER_UNIT_ID)</string>
	<key>MegrumAdMobHomeInterstitialUnitID</key>
	<string>$(MEGRUM_ADMOB_HOME_INTERSTITIAL_UNIT_ID)</string>
	<key>MegrumAdMobMeguriInterstitialUnitID</key>
	<string>$(MEGRUM_ADMOB_MEGURI_INTERSTITIAL_UNIT_ID)</string>
	<key>MegrumAdMobProfileBannerUnitID</key>
	<string>$(MEGRUM_ADMOB_PROFILE_BANNER_UNIT_ID)</string>
	<key>MegrumAdMobSearchBannerUnitID</key>
	<string>$(MEGRUM_ADMOB_SEARCH_BANNER_UNIT_ID)</string>
	<key>MegrumAdMobSearchInterstitialUnitID</key>
	<string>$(MEGRUM_ADMOB_SEARCH_INTERSTITIAL_UNIT_ID)</string>
	<key>MegrumAdMobTradesBannerUnitID</key>
	<string>$(MEGRUM_ADMOB_TRADES_BANNER_UNIT_ID)</string>
	<key>MegrumAdMobWishBannerUnitID</key>
	<string>$(MEGRUM_ADMOB_WISH_BANNER_UNIT_ID)</string>
	<key>MegrumAdMobWishInterstitialUnitID</key>
	<string>$(MEGRUM_ADMOB_WISH_INTERSTITIAL_UNIT_ID)</string>
	<key>MegrumAdPlaceholdersEnabled</key>
	<string>$(MEGRUM_AD_PLACEHOLDERS_ENABLED)</string>
	<key>MegrumAdProvider</key>
	<string>$(MEGRUM_AD_PROVIDER)</string>
	<key>MegrumAdsEnabled</key>
	<string>$(MEGRUM_ADS_ENABLED)</string>
	<key>MegrumSupabasePublishableKey</key>
	<string>$(MEGRUM_SUPABASE_PUBLISHABLE_KEY)</string>
	<key>MegrumSupabaseURL</key>
	<string>$(MEGRUM_SUPABASE_URL)</string>
	<key>MegrumSupabaseViewerID</key>
	<string>$(MEGRUM_SUPABASE_VIEWER_ID)</string>
	<key>NSCameraUsageDescription</key>
	<string>交換完了時の証跡写真の撮影やグルーム投稿の写真撮影のためにカメラを使用します。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>取引チャットで現在地を共有したり、近くのグルームと掲示板を表示するために使用します。</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
</dict>
</plist>
